<div id="page">
  <div id="content">
    <h1>Search Results</h1>
    <p>app/views/search/search.html.erb</p>

    <p>Searched for: <%= @q %></p>

    <div id="portal-tabs">
      <ul>
	<li><a href="#gene-results">Gene:</a></li>
	<li><a href="#network-results">Network:</a></li>
	<li><a href="#function-results">Function:</a></li>
	<li><a href="#motif-results">Motif:</a></li>
      </ul>

      <!-- GENE TAB -->
      <div id="gene-results">
	<!--<a href="#" id="expandAll">[Expand All]</a>-->
	<section id="organism" class="title">
	  <h4>Organism</h4>
	</section>
	<section id="match-count" class="title">
	  <h4># of matching genes</h4>
	</section>
	<section id="gene-view" class="title">
	  <h4>Analyze results with gene view</h4>
	</section>
	<section id="add-to-cart" class="title">
	  <h4>Add to analysis cart</h4>
	</section>
	<div id="gene-group-1">
	  <section id="organism">
	    <span id="showhide_gene-list-1" class="expanded showhide gene-title"><span id="item-title">H.salinarum</span></span>
	    <div id="gene-list-1">
	      gene 1
	      <br />
	      gene 2
	      <br />
	      gene 3
	    </div>
	  </section>
	  <section id="match-count">
	    <span class="row-title">13</span>
	  </section>
	  <section id="gene-view">
	    <span id="icon"><%= link_to image_tag("portal_icons/analyze_gene.png", :mouseover => "portal_icons/analyze_gene_hover.png"), {:controller => :analysis, :action => :gene} %></span>
	  </section>
	  <section id="add-to-cart">
	    <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	  </section>
	</div>
	<br />
	<div id="gene-group-2">
	  <section id="organism">
	    <span id="showhide_gene-list-2" class="collapsed showhide gene-title"><span id="item-title">H.volcanii</span></span>
	    <div id="gene-list-2">
	      gene a
	      <br />
	      gene b
	      <br />
	      gene c
	    </div>	  
	  </section>
	  <section id="match-count">
	    <span class="row-title">7</span>
	  </section>
	  <section id="gene-view">
	    <%= link_to image_tag("portal_icons/analyze_gene.png", :mouseover => "portal_icons/analyze_gene_hover.png"), {:controller => :analysis, :action => :gene} %>
	  </section>
	  <section id="add-to-cart">
	    <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	  </section>
	</div>
      </div><!-- END GENE TAB -->

      <!-- NETWORK TAB -->
      <div id="network-results">
	<section id="organism" class="title">
	  <h4>Organism</h4>
	</section>
	<section id="match-count" class="title">
	  <h4># of matching biclusters</h4>
	</section>
	<section id="network-view" class="title">
	  <h4>Analyze results with network view</h4>
	</section>
	<section id="add-to-cart" class="title">
	  <h4>Add to analysis cart</h4>
	</section>
	<div id="bicluster-group-1">
	  <section id="organism">
	    <span id="showhide_bicluster-list-1" class="collapsed showhide bicluster-title"><span id="item-title">H.salinarum</span></span>
	    <div id="bicluster-list-1">
	      gene 1
	      <br />
	      gene 2
	      <br />
	      gene 3
	    </div>
	  </section>
	  <section id="match-count">
	    <span class="row-title">13</span>
	  </section>
	  <section id="network-view">
	    <span id="icon"><%= link_to image_tag("portal_icons/analyze_nework.png", :mouseover => "portal_icons/analyze_nework_hover.png"), {:controller => :analysis, :action => :network} %></span>
	  </section>
	  <section id="add-to-cart">
	    <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	  </section>
	</div>
	<br />
	<div id="bicluster-group-2">
	  <section id="organism">
	    <span id="showhide_bicluster-list-2" class="collapsed showhide bicluster-title"><span id="item-title">H.volcanii</span></span>
	    <div id="bicluster-list-2">
	      gene a
	      <br />
	      gene b
	      <br />
	      gene c
	    </div>	  
	  </section>
	  <section id="match-count">
	    <span class="row-title">7</span>
	  </section>
	  <section id="network-view">
	    <%= link_to image_tag("portal_icons/analyze_nework.png", :mouseover => "portal_icons/analyze_nework_hover.png"), {:controller => :analysis, :action => :network} %>
	  </section>
	  <section id="add-to-cart">
	    <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	  </section>
	</div>
	<p><a href="/network">view network</a></p>
      </div><!-- END NETWORK TAB -->

      <!-- FUNCTION TAB -->
      <div id="function-results">
	<section id="function" class="title">
	  <h4>Matching Function</h4>
	</section>
	<section id="organism" class="title">
	  <h4>Matching organism</h4>
	</section>
	<section id="function-view" class="title">
	  <h4>Analyze results with function view</h4>
	</section>
	<section id="add-to-cart" class="title">
	  <h4>Add to analysis cart</h4>
	</section>
	<div id="organism-group-1">
	  <section id="function" class="row-item">
	    <span id="showhide_organism-list-1" class="collapsed showhide organism-title"><span id="item-title">transcription</span></span>
	  </section>
	  <div id="organism-list-1">
	    <section id="organism" class="row-item">
	      <div id="organism-list-1">
		<span id="cell-item">H.salinarum</span>
		<span id="cell-item">H.volcanii</span>
		<span id="cell-item">H.marismortui</span>
	      </div>
	    </section>
	    <section id="function-view" class="row-item">
	      <span id="icon"><%= link_to image_tag("portal_icons/analyze_function.png", :mouseover => "portal_icons/analyze_function_hover.png"), {:controller => :analysis, :action => :function} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/analyze_function.png", :mouseover => "portal_icons/analyze_function_hover.png"), {:controller => :analysis, :action => :function} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/analyze_function.png", :mouseover => "portal_icons/analyze_function_hover.png"), {:controller => :analysis, :action => :function} %></span>
	    </section>
	    <section id="add-to-cart" class="row-item">
	      <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	    </section>
	  </div>
	</div>
	<br />
	<div id="organism-group-2">
	  <section id="function" class="row-item">
	    <span id="showhide_organism-list-2" class="collapsed showhide organism-title"><span id="item-title">transcription initiation</span></span>
	  </section>
	  <div id="organism-list-2">
	    <section id="organism" class="row-item">
	      <div id="organism-list-2">
		<span id="cell-item">H.volcanii</span>
		<span id="cell-item">H.salinarum</span>		
		<span id="cell-item">H.marismortui</span>		
	      </div>	  
	    </section>
	    <section id="function-view" class="row-item">
	      <span id="icon"><%= link_to image_tag("portal_icons/analyze_function.png", :mouseover => "portal_icons/analyze_function_hover.png"), {:controller => :analysis, :action => :function} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/analyze_function.png", :mouseover => "portal_icons/analyze_function_hover.png"), {:controller => :analysis, :action => :function} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/analyze_function.png", :mouseover => "portal_icons/analyze_function_hover.png"), {:controller => :analysis, :action => :function} %></span>
	    </section>
	    <section id="add-to-cart" class="row-item">
	      <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	    </section>
	  </div>
	</div>
      </div><!-- END FUNCTION TAB -->

      <!-- MOTIF TAB -->
      <div id="motif-results">
	<section id="motif" class="title">
	  <h4>Motif</h4>
	</section>
	<section id="organism" class="title">
	  <h4 id="subhead">Match</h4>
	  <div id="name">
	    <h4 id="subhead">organism</h4>
	  </div>
	  <div id="count">
	    <h4 id="subhead">count</h4>
	  </div>
	</section>
	<section id="motif-view" class="title">
	  <h4>Analyze results with motif view</h4>
	</section>
	<section id="add-to-cart" class="title">
	  <h4>Add to analysis cart</h4>
	</section>
	<div id="motif-group-1">
	  <section id="motif" class="row-item">
	    <span id="showhide_motif-list-1" class="collapsed showhide motif-title"><span id="item-title">transcription</span></span>
	  </section>
	  <div id="motif-list-1">
	    <section id="organism-match" class="row-item">
	      <div id="organism-list">
		<span id="cell-item">H.salinarum</span>
		<span id="cell-item">H.volcanii</span>
	      </div>
	      <div id="count-list">
		<span id="cell-item">7</span>
		<span id="cell-item">13</span>
	      </div>	      
	    </section>
	    <section id="motif-view" class="row-item">
	      <span id="icon"><%= link_to image_tag("portal_icons/analyze_motif.png", :mouseover => "portal_icons/analyze_motif_hover.png"), {:controller => :analysis, :action => :motif} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/analyze_motif.png", :mouseover => "portal_icons/analyze_motif_hover.png"), {:controller => :analysis, :action => :motif} %></span>
	    </section>
	    <section id="add-to-cart" class="row-item">
	      <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	    </section>
	  </div>
	</div>
	<br />
	<div id="motif-group-2">
	  <section id="motif" class="row-item">
	    <span id="showhide_motif-list-2" class="collapsed showhide motif-title"><span id="item-title">transcription initiation</span></span>
	  </section>
	  <div id="motif-list-2">
	    <section id="organism-match" class="row-item">
	      <div id="organism-list">
		<span id="cell-item">H.volcanii</span>
		<span id="cell-item">H.salinarum</span>		
		<span id="cell-item">H.marismortui</span>		
	      </div>	  
	      <div id="count-list">
		<span id="cell-item">10</span>
		<span id="cell-item">3</span>		
		<span id="cell-item">5</span>		
	      </div>	  
	    </section>
	    <section id="motif-view" class="row-item">
	      <span id="icon"><%= link_to image_tag("portal_icons/analyze_motif.png", :mouseover => "portal_icons/analyze_motif_hover.png"), {:controller => :analysis, :action => :motif} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/analyze_motif.png", :mouseover => "portal_icons/analyze_motif_hover.png"), {:controller => :analysis, :action => :motif} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/analyze_motif.png", :mouseover => "portal_icons/analyze_motif_hover.png"), {:controller => :analysis, :action => :motif} %></span>
	    </section>
	    <section id="add-to-cart" class="row-item">
	      <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	      <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	    </section>
	  </div>
	</div>
      </div><!-- END MOTIF TAB -->
    </div><!-- END PORTAL-TABS -->

    <p>Maybe these categories should be: genes, motifs, regulators, and conditions,
      while networks could encompass all, which would more closely reflect the
      structure of the biclusters.</p>
    
    <p><a href="/search_form">new search</a>&nbsp;<a href="/">home</a></p>
  </div><!-- End #content -->
</div><!-- End #page -->
