<div id="page">
  <div id="content">
    <h1>Search Results</h1>
    <p>app/views/search/search.html.erb</p>

    <p>Searched for: <%= @q %></p>

    <div id="portal-tabs">
      <ul>
	<li><a href="#gene-results">Gene:</a></li>
	<li><a href="#network-results">Network:</a></li>
	<li><a href="#function-results">Function:</a></li>
	<li><a href="#motif-results">Motif:</a></li>
      </ul>

      <!-- GENE TAB -->
      <div id="gene-results">
	<section id="organism" class="title">
	  <h4>Organism</h4>
	</section>
	<section id="match-count" class="title">
	  <h4># of matching genes</h4>
	</section>
	<section id="gene-view" class="title">
	  <h4>Analyze results with gene view</h4>
	</section>
	<section id="add-to-cart" class="title">
	  <h4>Add to analysis cart</h4>
	</section>
	<div id="gene-group-1">
	  <section id="organism">
	    <span id="showhide_gene-list-1" class="expanded showhide gene-title">H.salinarum</span>
	    <div id="gene-list-1">
	      gene 1
	      <br />
	      gene 2
	      <br />
	      gene 3
	    </div>
	  </section>
	  <section id="match-count">
	    <span class="row-title">13</span>
	  </section>
	  <section id="gene-view">
	    <span id="icon"><%= link_to image_tag("portal_icons/analyze_gene.png", :mouseover => "portal_icons/analyze_gene_hover.png"), {:action => :search} %></span>
	  </section>
	  <section id="add-to-cart">
	    <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	  </section>
	</div>
	<br />
	<div id="gene-group-2">
	  <section id="organism">
	    <span id="showhide_gene-list-2" class="collapsed showhide gene-title">H.volcanii</span>
	    <div id="gene-list-2">
	      gene a
	      <br />
	      gene b
	      <br />
	      gene c
	    </div>	  
	  </section>
	  <section id="match-count">
	    <span class="row-title">7</span>
	  </section>
	  <section id="gene-view">
	    <%= link_to image_tag("portal_icons/analyze_gene.png", :mouseover => "portal_icons/analyze_gene_hover.png"), {:action => :search} %>
	  </section>
	  <section id="add-to-cart">
	    <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	  </section>
	</div>
      </div>

      <!-- NETWORK TAB -->
      <div id="network-results">
	<section id="organism" class="title">
	  <h4>Organism</h4>
	</section>
	<section id="match-count" class="title">
	  <h4># of matching biclusters</h4>
	</section>
	<section id="network-view" class="title">
	  <h4>Analyze results with network view</h4>
	</section>
	<section id="add-to-cart" class="title">
	  <h4>Add to analysis cart</h4>
	</section>
	<div id="bicluster-group-1">
	  <section id="organism">
	    <span id="showhide_bicluster-list-1" class="collapsed showhide bicluster-title">H.salinarum</span>
	    <div id="bicluster-list-1">
	      gene 1
	      <br />
	      gene 2
	      <br />
	      gene 3
	    </div>
	  </section>
	  <section id="match-count">
	    <span class="row-title">13</span>
	  </section>
	  <section id="network-view">
	    <span id="icon"><%= link_to image_tag("portal_icons/analyze_nework.png", :mouseover => "portal_icons/analyze_nework_hover.png"), {:action => :search} %></span>
	  </section>
	  <section id="add-to-cart">
	    <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	  </section>
	</div>
	<br />
	<div id="bicluster-group-2">
	  <section id="organism">
	    <span id="showhide_bicluster-list-2" class="collapsed showhide bicluster-title">H.volcanii</span>
	    <div id="bicluster-list-2">
	      gene a
	      <br />
	      gene b
	      <br />
	      gene c
	    </div>	  
	  </section>
	  <section id="match-count">
	    <span class="row-title">7</span>
	  </section>
	  <section id="network-view">
	    <%= link_to image_tag("portal_icons/analyze_nework.png", :mouseover => "portal_icons/analyze_nework_hover.png"), {:action => :search} %>
	  </section>
	  <section id="add-to-cart">
	    <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	  </section>
	</div>
	<p><a href="/network">view network</a></p>
      </div>

      <!-- FUNCTION TAB -->
      <div id="function-results">
	<section id="function" class="title">
	  <h4>Matching Function</h4>
	</section>
	<section id="organism" class="title">
	  <h4>Matching organism</h4>
	</section>
	<section id="function-view" class="title">
	  <h4>Analyze results with function view</h4>
	</section>
	<section id="add-to-cart" class="title">
	  <h4>Add to analysis cart</h4>
	</section>
	<div id="organism-group-1">
	  <section id="function" class="row-item">
	    <span id="showhide_organism-list-1" class="collapsed showhide organism-title">transcription</span>
	  </section>
	  <div id="organism-list-1">
	    <section id="organism" class="row-item">
	      <div id="organism-list-1">
		<span>H.salinarum</span>
		<span>H.volcanii</span>
		<span>H.marismortui</span>
	      </div>
	    </section>
	    <section id="function-view" class="row-item">
	      <span id="icon"><%= link_to image_tag("portal_icons/analyze_function.png", :mouseover => "portal_icons/analyze_function_hover.png"), {:action => :search} %></span>
	    </section>
	    <section id="add-to-cart" class="row-item">
	      <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	    </section>
	  </div>
	</div>
	<br />
	<div id="organism-group-2">
	  <section id="function" class="row-item">
	    <span class="row-title">transcription initiation</span>
	  </section>
	  <section id="organism" class="row-item">
	    <span id="showhide_organism-list-2" class="collapsed showhide organism-title">H.volcanii</span>
	    <div id="organism-list-2">
	      gene a
	      <br />
	      gene b
	      <br />
	      gene c
	    </div>	  
	  </section>
	  <section id="function-view" class="row-item">
	    <%= link_to image_tag("portal_icons/analyze_function.png", :mouseover => "portal_icons/analyze_function_hover.png"), {:action => :search} %>
	  </section>
	  <section id="add-to-cart" class="row-item">
	    <span id="icon"><%= link_to image_tag("portal_icons/cart.png", :mouseover => "portal_icons/cart_hover.png"), {:action => :search} %></span>
	  </section>
	</div>
      </div>

      <section id="motif-results">
	<h2>Motif</h2>
	<p>Motif search results...</p>
      </section>
    </div>

    <p>Maybe these categories should be: genes, motifs, regulators, and conditions,
      while networks could encompass all, which would more closely reflect the
      structure of the biclusters.</p>
    
    <p><a href="/search_form">new search</a>&nbsp;<a href="/">home</a></p>
  </div><!-- End #content -->
</div><!-- End #page -->
